

.banner{
    background-image: url(../images/Rectangle4.png);
    width: 1512px; ;
    height: 939px;
    background-size: cover;
    background-repeat: no-repeat;


}
.body{
    overflow-x: hidden;
    height: 2000px;
    margin: 0;
    padding: 0;
    width: 1440px;
    font-family: inter;
}
.menu-baner{
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-left: 300px;
    margin-top: 0px;
    color: white;
    list-style: none;
    padding-top: 88px;
   }
   .text-block{
    width: 1175px;
    height: 405px;
    top: 1056px;
    left: 167px;
    padding: 167px 117px ;  
    
    
   
   }
   .text-paragraf{
    font-size: 40px;
    font-family: inter;

   }
   .text-h1{
    font-size: 60px;
  font-family: inter;
   }
   .wraper{
   background-image: url(../images/Rectangle_79.png);
    height: 939px;
     background-repeat: no-repeat;
     background-size: cover;
    }
    .overlay-image{
    width: 504px;
    height: 429px;
    position: absolute;  
    top: 307%;
    left: 70%;
    }
    .text-banner{
    color: white;
    width: 807px;
    height: 707px;
    top: 1540px;
    padding-top: 179px ; 
    padding-left: 117px;
   
    

    }
    .text-banner-heading{
        font-size: 60px;
        text-transform: uppercase;
        color: white; 
        font-family: inter; }

        .text-banner-paragraf{
            font-size: 28px;
            color: white;
            font-family: inter , 100;
           letter-spacing: 3px;
            
            }  
            .container{
              display: flex;
              margin-top: 107px ;
              
            }
        .container-text{
        display: block;
        margin: 20px;
         width: 671px;
         height: 329px;
         top: 2530px;
         left: 473px;



            }
            .parafraf{
                font-size: 28px;
                font-family: inter , 600 ;
            }
            .heading{
                margin: 68px 170px;
            }
            .heading-h2{
                font-size: 50px;
                font-family: inter;
            }
            .heading-paragraf{
                font-size: 40px;
                font-family: inter;
            }
            .cards-container{
            display: flex;
            width: 1512px;
            height: 650px;
            margin: 20px 170px;
             }
             .card-content{
            width: 521px;
            top: 19px;
            left: 823px;
            margin-bottom: 0px;


             }
           .cards-wraper{
            display: flex;
            width: 1100px;
            height: 600px;
            margin: 20px 100px; 
           }
           .card-three{
            width: 600px;
            top: 20px;
            left: 720px;
            margin-bottom: 0px;
           }
           .title{
            font-size: 40px;
            margin-left: 212px;
            margin-bottom: 60px;
            margin-top: 30px;
           }
           .bg-wraper{
            background-image: url(../images/bgtwo.png);
    width: 1512px; ;
    height: 790px;
    background-size: cover;
    background-repeat: no-repeat;
           }
           .bg-wraper-text{
            width: 752px;
            height: 338px;
            font-family: inter;
            color: white;
            padding-top: 147px;
            padding-left: 170px;
            padding-bottom: 305px;
           }
           .heading-bg{
            font-size: 50px;
           }
           .paragraf-bg{
            font-size: 28px;
           }
           .paragraf-bg-two{
            font-size: 20px;
            text-transform: uppercase;
           }
           .overlay-image-two{
            width: 504px;
            height: 429px;
            position: absolute;  
            top: 950%;
            left: 71%;
            }
            .icons-container{
              position: absolute;  
              color: white;
            left: 165px;
            }

            


         
         

    